// CoffeeChop styles
$cc-white: #fff;
$cc-gray: #eee;
$cc-black: #000;
$cc-red: #E52E04;

// global settings
$body-bg: $cc-gray !default;

// grid settings
$row-width: rem-calc(1200);


// top-bar settings
$topbar-bg-color: $cc-white;
$topbar-bg: $cc-white;
$topbar-link-color: $cc-black;
$topbar-link-color-hover: $cc-black !default;
$topbar-height: rem-calc(70);
$topbar-margin-bottom: 30px;
$topbar-link-bg: $cc-white !default;
$topbar-link-bg-hover: lighten($cc-gray,5) !default;
$topbar-link-bg-color-hover: $cc-black !default;
$topbar-dropdown-link-color: $cc-black !default;
$topbar-dropdown-link-color-hover: $cc-black !default;
$topbar-dropdown-link-bg: $cc-white !default;
$topbar-dropdown-link-bg-hover: lighten($cc-gray,5) !default;
$topbar-dropdown-toggle-color: $cc-black;

// General styles
.label {
  font-size: rem-calc(14) !important;
  display:block !important;
  width:rem-calc(80);
  margin:rem-calc(10) auto;
}

// header in main deal holder
.cc-topblock {
	background: $cc-white;
	border-bottom: rem-calc(1) solid lighten($cc-black,90%);
	border-top: rem-calc(5) solid $cc-red;
	border-right: rem-calc(1) solid $cc-gray;
	line-height:rem-calc(40);
	height: rem-calc(50);
	font-size: rem-calc(15);

	h3.header-text {
	  margin-top: rem-calc(10);
	  font-size: rem-calc(18);
	  text-transform: uppercase;
	  height: rem-calc(20);
	  overflow: hidden;
	}
	a {
	  height: rem-calc(20);
	  display: block;
	}
	margin:0;
	padding:0;
}

// deal cells
.offer-x {
  height: rem-calc(166.6666);	
  // adding some individual settings for offer view
  span.title {
    margin-bottom: rem-calc(40);
  }
  img {
    max-height: rem-calc(150);
  }
}
.offer-y {
  height: rem-calc(250);
  // adding some individual settings for offer view
  span.subtitle {
    margin-bottom: rem-calc(25);
  }
  img {
    max-height: rem-calc(180);
  }
  
}
.offer-special {
  height:rem-calc(250);
}

// left list which will disapear in small screens
.cc-list {
  background: $cc-white;
  height: rem-calc(500);	
  border-right: rem-calc(1) solid lighten($cc-black,90%);
  // Category list header
  #list-header {
    margin: rem-calc(15) 0;
    line-height: rem-calc(30);
    text-transform: uppercase;
    font-size: rem-calc(22);
    font-weight:bold;
    color: $cc-red;
    width: 100%;
    text-align: center;
  }
  ul {
    margin-top:rem-calc(25);
    text-align:center;
    li > a {
      line-height: rem-calc(40);
    }
    li > a:nth-child(odd) {
      color: $cc-red;
    }
  }
}

// Every box that represent an offer in main page
.cc-box {
  background: $cc-white;
  border-bottom: rem-calc(1) solid lighten($cc-black,90%);
  border-right: rem-calc(1) solid lighten($cc-black,90%);
  .row {
    padding: rem-calc(7.5);
    span.title {
      font-size: rem-calc(16);
      text-align:center;
      color: lighten($cc-black,30%);
      display: block;
    }
    span.subtitle {
      font-size: rem-calc(12);
      text-align:center;
      color: lighten($cc-black,50%);
    }
    
    img {
      float:right;
  	}
  }
}
.cc-box:hover {
  position:relative;
  z-index:2;
  -webkit-box-shadow: 0px 2px 4px 0px lighten($cc-black,70%);
  -moz-box-shadow: 0px 2px 4px 0px lighten($cc-black,70%);
  box-shadow: 0px 2px 4px 0px lighten($cc-black,70%);
  border:0;
}

.cc-listbox {
  padding-bottom: rem-calc(10);
  .row {
    background: $cc-white;
    border-bottom: rem-calc(-1) solid lighten($cc-black,90%);
    border-right: rem-calc(-1) solid lighten($cc-black,90%);
    text-align: center;
    transition: all 0.3s;
    
    .imagebox {
      width: 100%;
      display: block;
      height: rem-calc(230);
      background-size:cover;
      background-position: center top;
      transition: background-size 0.4s;
    }
    h3 {
      font-size: rem-calc(16);
    }
  }
  .row:hover {
    -webkit-box-shadow: 0px 2px 4px 0px lighten($cc-black,50%);
    -moz-box-shadow: 0px 2px 4px 0px lighten($cc-black,50%);
    box-shadow: 0px 2px 4px 0px lighten($cc-black,50%);
    border:0;

  }
}


