// CoffeeChop styles
$cc-white: #fff;
$cc-gray: #eee;
$cc-black: #000;
$cc-red: #E52E04;

// global settings
$body-bg: $cc-gray !default;

// grid settings
$row-width: rem-calc(1200);


// top-bar settings
$topbar-bg-color: $cc-white;
$topbar-bg: $cc-white;
$topbar-link-color: $cc-black;
$topbar-link-color-hover: $cc-black !default;
$topbar-height: rem-calc(70);
$topbar-margin-bottom: 30px;
$topbar-link-bg: $cc-white !default;
$topbar-link-bg-hover: lighten($cc-gray,5) !default;
$topbar-link-bg-color-hover: $cc-black !default;
$topbar-dropdown-link-color: $cc-black !default;
$topbar-dropdown-link-color-hover: $cc-black !default;
$topbar-dropdown-link-bg: $cc-white !default;
$topbar-dropdown-link-bg-hover: lighten($cc-gray,5) !default;
$topbar-dropdown-toggle-color: $cc-black;

.offer-x {
  height: rem-calc(166.6666);	
}
.offer-y {
  height: rem-calc(250);
}
.offer-special {
  height:rem-calc(250);
}
// left list which will disapear in small screens
.cc-list {
  background: $cc-white;
  height: rem-calc(500);	
  border-right: rem-calc(1) solid lighten($cc-black,90%);
  // Category list header
  #list-header {
    margin: rem-calc(15) 0;
    line-height: rem-calc(30);
    text-transform: uppercase;
    font-size: rem-calc(22);
    font-weight:bold;
    color: $cc-red;
    width: 100%;
    text-align: center;
  }
  // This is the list loading categories in large and medium screens
  ul {
    margin-top:rem-calc(25);
    text-align:center;
    li {
      cursor: pointer;
      line-height: rem-calc(40);
    }
    li:nth-child(odd) {
      color: $cc-red;
    }
  }
}
.cc-box {
  background: $cc-white;
  border-bottom: rem-calc(1) solid lighten($cc-black,90%);
  border-right: rem-calc(1) solid lighten($cc-black,90%);
  .row {
    padding: rem-calc(7.5);
  }
  
  img {
    float:right;
  }
}
.cc-box:hover {
  position:relative;
  z-index:20;
  -webkit-box-shadow: 0px 2px 4px 0px lighten($cc-black,70%);
  -moz-box-shadow: 0px 2px 4px 0px lighten($cc-black,70%);
  box-shadow: 0px 2px 4px 0px lighten($cc-black,70%);
  border:0;
}
.cc-topblock {
	background: $cc-white;
	height:rem-calc(45);
	border-bottom: rem-calc(1) solid lighten($cc-black,90%);
	border-top: rem-calc(5) solid $cc-red;
	border-right: rem-calc(1) solid $cc-gray;
}

// header in main holder
#header {
	h3 {
	  line-height:rem-calc(40);
	  margin:0;
	  padding:0;
	  font-size: rem-calc(17);
	  text-transform: uppercase;
	  height: rem-calc(40);
	}
}
