<!-- =============== Frontpage Controller Template =============== -->
<div class="row small-collapse">
  <div class="medium-5 columns">
    <div class="row collapse" >
      <!-- offer-x block -->
      <div class="large-12 columns offer-x cc-box" ng-repeat="off in offs" 
       ng-click="goToItem(off.id)">
        <div class="row collapse">
          <div class="small-7 columns">
            <div class="row">
              <span class="title"><a href="/#/item/{{off.id}}">{{off.title}}</a></span>
              <span class="label round alert cc-price">{{off.off}}% off</span>
              <span class="label secondary cc-price">${{off.price}}</span>
            </div>
          </div>
          <div class="small-5 columns cc-img"><img ng-src="{{off.img}}"></div>
          <div class="offer-x-bg" style="background-image:url({{off.img}})"></div>
        </div>
      </div>
      <!-- offer-x block end-->
    </div>
  </div>
  <div class="medium-7 columns">
    <div class="row collapse" >
      <div class="large-12 columns">
        <div class="row collapse" >
          <div class="large-8 medium-6 small-12 columns cc-box offer-special">
            <div class="cc-imageslider">
              <!-- offer-special slide block -->
              <slick init-onload=true data="slides" autoplay=true>
                <div ng-repeat="slide in slides">
                  <div class="cc-imgpadding"><a href="/#/item/{{slide.id}}"><img ng-src="{{slide.img}}">
                  <span class="cc-label">{{slide.subtitle}}</span></a></div>
                </div>
              </slick>
              <!-- offer-special slide block end-->
            </div>
          </div>
          <!-- offer-y one block - Hidden for small view -->
          <div class="large-4 medium-6 small-12 columns hide-for-small-only cc-box offer-y" 
          ng-click="goToItem(offers[0].id)">
            <div class="row">
              <div class="holder">
                <img ng-src="{{offers[0].img}}">
                <span class="cc-label">{{offers[0].title}} - {{offers[0].price}} USD</span>
              </div>
            </div>
          </div>
          <!-- offer-y one block end -->
        </div>
      </div>
      <div class="large-12 columns">
        <div class="row collapse">
          <!-- offer-y blocks (3 blocks) -->
          <div class="large-4 small-6 columns cc-box offer-y end" 
           ng-repeat="offer in offers.slice(1,4)" ng-click="goToItem(offer.id)">
            <div class="row">
              <div class="holder">
                <img ng-src="{{offer.img}}">
                <span class="cc-label">{{offer.title}} - {{offer.price}} USD</span>
              </div>
            </div>
          </div>
          <!-- offer block end -->
          <!-- offer-y one block - Show only for small view -->
          <div class="small-6 columns show-for-small-only cc-box offer-y" 
          ng-click="goToItem(offers[0].id)">
            <div class="row">
              <div class="holder">
                <img ng-src="{{offers[0].img}}">
                <span class="cc-label">{{offers[0].title}} - {{offers[0].price}} USD</span>
              </div>
            </div>
          </div>
          <!-- offer-y one block -->
        </div>
        
      </div>
    </div>
  </div>
</div>