<div class="row collapse" style="background:#fff">
	<div class="large-9 columns">
		<div class="row">
			<div class="large-4 columns cc-listbox" ng-click="goToItem(item.id)" ng-repeat="item in list | filter:listFilter" >
				<div class="row">
					<div class="imagebox" style="background-image:url('{{item.img}}');"></div>
					<h3><a href="/#/item/{{item.id}}">{{item.title}}</a></h3>
					<span class="label round alert">{{item.off}}% off</span>
	              	<span class="label secondary">${{item.price}}</span>
              	</div>
			</div>
		</div>
		
	</div>
	<div class="large-3 columns">
	</div>
</div>

