<!doctype html>
<html class="no-js" lang="en" ng-app="cchopApp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoffeeChop - The best single page app shopping!</title>
    <link rel="stylesheet" href="stylesheets/app.css" />
    <script type="text/javascript" src="bower_components/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">CoffeeChop</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
    
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a href="#">Cart</a></li>
          <li class="has-dropdown">
            <a href="#">Sign in</a>
            <ul class="dropdown">
              <li><a href="#">Sign in with Facebook</a></li>
            </ul>
          </li>
        </ul>
    
      </section>
    </nav>

    <div class="row medium-collapse">
        <div class="medium-12 small-11 columns cc-topblock small-centered">
          <div class="row">
            <div class="medium-4 small-6 columns">
              <h3 class="header-text">Today Offers</h3>
            </div>
            <div class="medium-2 small-5 small-offset-1 medium-offset-6 columns">
              <a href="#">Load popular deals</a></div>
          </div>
        </div>
        <div class="medium-2 columns hide-for-small-only cc-list">
          <div id="list-header" class="columns">Women's Clothing</div>
          <hr />
          <!-- =============== Frontpage Controller =============== -->
          <ul class="no-bullet" ng-controller="FrontpageCtrl">
            <li ng-repeat="category in data.categories">{{category}}</li>
          </ul>
        </div>
        <div class="medium-10 columns">
          <div class="row medium-collapse">
            <div class="medium-5 columns">
              <!-- =============== Frontpage Controller =============== -->
              <div class="row collapse" ng-controller="FrontpageCtrl">
                <!-- offer-x block -->
                <div class="large-12 columns offer-x cc-box" ng-repeat="off in data.offs">
                  <div class="row collapse">
                    <div class="small-7 columns">
                      <div class="row">
                        <span class="title">{{off.title}}</span>
                        <span class="label round alert">{{off.off}}% off</span>
                        <span class="label secondary">${{off.price}}</span>
                      </div>
                    </div>
                    <div class="small-5 columns"><img ng-src="{{off.img}}"></div>
                  </div>
                </div>
                <!-- offer-x block end-->
              </div>
            </div>
            <div class="medium-7 columns">
              <!-- =============== Frontpage Controller =============== -->
              <div class="row medium-collapse" ng-controller="FrontpageCtrl">
                <div class="large-12 columns">
                  <div class="large-8 medium-6 columns cc-box offer-special">
                    <div></div>
                  </div>
                  <!-- offer-y one block -->
                  <div class="large-4 medium-6 columns cc-box offer-y">
                    <div class="row">
                      <span class="title">{{data.offers[0].title}}</span>
                      <span class="subtitle">{{data.offers[0].subtitle}}</span>
                      <img ng-src="{{data.offers[0].img}}">
                    </div>
                  </div>
                  <!-- offer-y block end -->
                </div>
                <div class="large-12 columns">
                  <!-- offer-y blocks (3 blocks) -->
                  <div class="large-4 small-6 columns cc-box offer-y" 
                   ng-repeat="offer in data.offers.slice(1,4)">
                    <div class="row">
                      <span class="title">{{offer.title}}</span>
                      <span class="subtitle">{{offer.subtitle}}</span>
                      <img ng-src="{{offer.img}}">
                    </div>
                    <!-- offer block end -->
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    
<!-- libraries -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
